.title {
    text-align: center;
    text-transform: uppercase;

    color: var(--primary-color);

    font-size: 1.5rem;
    font-weight: 600;

    margin: 70px 0 30px;
}

.title h2 {
    font-size: 32px;
    color: var(--secondary-color);
    margin-top: 5px;
    text-transform: none;
}